@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Thin.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Thin.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Light.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Light.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Regular.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Regular.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Medium.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Medium.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-SemiBold.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-SemiBold.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Bold.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Bold.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-ExtraBold.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-ExtraBold.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-Black.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-Black.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-ThinIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-ThinIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-LightIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-LightIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-RegularIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-RegularIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-MediumIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-MediumIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-SemiBoldIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-SemiBoldIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-BoldIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-BoldIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-ExtraBoldIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-ExtraBoldIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-ExtraBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/ProximaSoft/ProximaSoft-BlackIt.woff2') format('woff2'),
        url('../fonts/ProximaSoft/ProximaSoft-BlackIt.woff') format('woff'),
        url('../fonts/ProximaSoft/ProximaSoft-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC';
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
